.divider {
  border: var(--space-0);
  flex: none;
  margin: var(--space-0);
}

.horizontal {
  border-block-start: var(--border-width-thin) solid var(--divider-color);
  inline-size: 100%;
}

.vertical {
  align-self: stretch;
  border-inline-start: var(--border-width-thin) solid var(--divider-color);
  min-block-size: var(--space-6);
}
